/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/clrpolish -profile bnut,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

cleanup = true

params {
    config_profile_name        = 'BNUT Analysis'
    config_profile_description = 'Execution pipeline mode for polishing bnut genome assembly'

    // Input data for full size test
    // TODO nf-core: Specify the paths to your full test data ( on nf-core/test-datasets or directly in repositories, e.g. SRA)
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input = './data/samplesheet_bnut.csv'

    // Genome references
    genome = '/array2/genomes/BNUT_ROD/bnut_chrs_renamed_order.fa'
    fasta = '/array2/genomes/BNUT_ROD/bnut_chrs_renamed_order.fa'

    n_chromosomes = 17
    n_splits_per_chr = 2

    max_cpus   = 16
    max_memory = '64.GB'
    max_time   = '36.h'
}

process {
    withName: GENOMESCOPE2 {
        cpus = 8
        ext.args = '--kmer_length 21 --ploidy 2'
    }

    withName: BCFTOOLS_CONSENSUS {
        ext.args = '--iupac-codes'
    }

    withName: BCFTOOLS_VIEW_COMPRESS_NORM {
        ext.args = """-Oz -e "REF~'N'""""
    }
    
    withName: MERYL_COUNT {
        ext.args = 'k=21 --threads 8 --memory 64'
    }

}
