/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: MERYL_COUNT {
        ext.args = 'k=21'
    }

    withName: MERQURY {
        cpus = 4
        ext.args = 'k=21'
    }


    withName: TRIMMOMATIC {
        cpus = 4
        ext.args2 = 'ILLUMINACLIP:TruSeq3-PE.fa:2:30:10:2:True LEADING:3 TRAILING:3 MINLEN:36'
    }

    withName: BCFTOOLS_VIEW_FILTER {
        ext.args = """
        -Oz -e '(GT="AA" || GT="Aa")
        """
    }

    withName: BCFTOOLS_VIEW_COMPRESS {
        ext.args = '-Oz'
    }

    withName: BCFTOOLS_INDEX_BEFORE {
        ext.args = '-t'
    }

    withName: BCFTOOLS_INDEX_CONCAT {
        ext.args = '--tbi'
    }

    withName: BCFTOOLS_INDEX_POLISHED {
        ext.args = '--tbi'
    }

    withName: BCFTOOLS_CONCAT {
        ext.args = '-a'
    }

}
